:root {
  --container-width: 1200px;
  --container-padding: 15px;

  --font-main: "Manrope", sans-serif;
  --font-accent: "Manrope", sans-serif;
  --font-titles: var(--font-accent);

  --page-bg: #fff;
  --text-color: #000;
  --accent: #ac182c;
  --link-color: #2578c8;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;

  //  color

  --black: #161616;
  --gray-dark: #454444;
  --orange: #ed952b;
  --yellow: #fec86e;
  --cream: #fbf1d6;
  --sky: #d3f5fe;
  --white: #fff;
  --gray-lite: #fafafa;
  --cream-lite: #fefcf7;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}
