.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 18px 22px;
  border-radius: 40px;
  background: var(--black);
  font-weight: 500;
  font-size: 18px;
  color: var(--white);
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  @include mobile {
    font-size: 16px;
    padding: 14px 18px;
    height: 50px;
  }
}

.button:hover,
.button:focus {
  background-color: #404040;
}

.button:active {
  background-color: #222222;
}
