// feature-Cards
.feature {
  &-card {
    background-color: var(--sky);
    border-radius: 16px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    &--gradient-top {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0) 36%
        );
      }
    }
    &__title {
      font-size: 24px;
      font-weight: 500;
      color: var(--black);
      &--white {
        color: var(--white);
      }
      @include mobile {
        font-size: 18px;
      }
    }
    &__desc {
      font-size: 18px;
      font-weight: 500;
      color: var(--gray-dark);
      @include mobile {
        font-size: 14px;
      }
    }
    &__background {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    &__content {
      display: grid;
      gap: 20px;
      position: relative;
      z-index: 9;
      height: 100%;
      @include mobile {
        gap: 12px;
      }
      &--bottom {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 100%;
      }
    }
    &__heading-with--arrow {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      cursor: pointer;
    }
    &--gradient {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 20px;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 79%,
          rgba(0, 0, 0, 0.6) 100%
        );
      }
    }
    &__arrow-absolute {
      position: absolute;
      bottom: 0;
      left: 0;
      &-center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    // &--col-3-desktop {
    //   grid-column: span 3;
    // }

    // &--col-4-desktop {
    //   grid-column: span 4;
    // }

    // &--col-2-tablet {
    //   @include tablet {
    //     grid-column: span 2;
    //   }
    // }

    // &--col-4-tablet {
    //   @include tablet {
    //     grid-column: span 4;
    //   }
    // }
  }
}

@for $i from 1 through 12 {
  .feature-card--col-#{$i}-desktop {
    grid-column: span #{$i};
  }
}

@for $i from 1 through 12 {
  .feature-card--col-#{$i}-tablet {
    @include tablet {
      grid-column: span #{$i};
    }
  }
}

//

.feature-card--col-2 {
  grid-column: span 2;

  @include tablet {
    grid-column: span 3;
  }
}

.feature-card--col-3 {
  grid-column: span 3;
}

.feature-card--col-4 {
  grid-column: span 4;

  @include tablet {
    grid-column: span 3;
  }
}
