.feature {
  &-section {
    padding: 80px 0;
    background-color: var(--cream-lite);
    &__heading {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 24px;
      padding-bottom: 52px;
      @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        text-align: center;
        padding-bottom: 40px;
      }
    }
    &__title {
      grid-column: 1 / 7;
    }
    &__subtitle {
      grid-column: 8 / 13;
    }
    &__cards {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 24px;
      @include tablet {
        grid-template-columns: repeat(6, 1fr);
      }
      @include mobile {
        display: flex;
        gap: 20px;
        flex-direction: column;
      }
    }
  }
}
