.header {
  padding-top: 40px;
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 40px;
    background-color: var(--cream-lite);
    border-radius: 60px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 32px;
    line-height: 1;
    @include mobile {
      display: none;
    }

    &-link {
      font-weight: 500;
      font-size: 20px;
      color: var(--black);
      @include tablet {
        font-size: 16px;
      }
    }
  }
  &__mobile-btn {
    display: none;
    @include mobile {
      display: block;
    }
  }
}
