.header {
  &__list {
    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
      padding: 8px 14px;
      border-radius: 40px;
      border: 1px solid var(--black);
      font-size: 18px;
      font-weight: 500;
      line-height: 1.3;
      color: var(--black);
      transition: background-color 0.2s ease-in, color 0.2s ease-in;

      &:hover,
      &:focus {
        background-color: #404040;
        color: var(--white);
      }
      &:active {
        background-color: #222222;
      }
    }
  }
}
