.hero {
  padding-top: 80px;
  &__grid {
    display: grid;
    gap: 40px 24px;
    grid-template-columns: 8fr 4fr;
    @include mobile {
      display: flex;
      gap: 20px;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    @include mobile {
      align-items: center;
    }
  }
  &__picture {
    grid-column: 1 / 3;
  }
  &__img {
    border-radius: 40px;
    @include mobile {
      border-radius: 20px;
      object-fit: cover;
      height: 280px;
    }
  }
}
