.title-1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 110%;
  color: var(--black);
  @include mobile {
    font-size: 32px;
  }
}

.title-2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: var(--black);
  @include mobile {
    font-weight: 600;
    font-size: 26px;
  }
}

.subtitle-1 {
  font-weight: 500;
  font-size: 24px;
  color: var(--gray-dark);
  @include mobile {
    font-size: 18px;
  }
}
